body {
	font: 1.02em/20px 'Source Sans Pro', Arial, sans-serif;
	color: #4D4C4E;
	background-color: #EEEEEE;
}

a {
	text-decoration: none;
	color: #02779E;
}

h1 {
	font: 2em "Open Sans Condensed", Arial, sans-serif;
	text-align: left;
}

#sidebar {
  float: left;
  width: 200px;
  height: 100%;
  font-size: 1.2em;
  text-align: justify;
  margin: 10px 20px 0px 20px;
  padding: 36px 15px 250px 15px;
  background-color: #8F8F8F;
  opacity: 0.9;
  color: #EEF1F6;
  position: fixed;
}

#sidebar a {
	color: #B2C0CD;
}

#sidebar a:hover {
	color: #D2E4FC;
}

#sidebar p {
	width: 85%;
	margin: 0 auto;
}

#nav {
  background-color: #8F8F8F;
  opacity: 0.9;
  color: #EEF1F6;
  width: 80px;
  height: 40px;
  position:relative;
  top: 10px;
  left: 10px;
}

#nav h1 {
  text-transform:uppercase;
  font-weight:bold;
  text-align:center;
  width:100%;
  line-height:40px;
  font-size:15px;
}

#content {
	margin-left: 250px;
	margin-top: 0px;
	width: 60%;
}

footer {
	font-size: 0.8em;
}

article {
  max-width:650px;
	padding: 10px 25px;
}

article header h1 {
	margin-bottom: 0;
}

article a {
  padding: 0;
}

article a:hover {
	color: #2A8FBD;
}

article img {
	width: 75%;
	height: auto;
	border: 10px solid #D3D3D3;
  display:block;
  margin: 10px auto;
}

article footer a {
  color:#C3C3C3;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body { margin: 0; }

  #sidebar {
    width: 100%;
    position:inherit;
    padding: 5px;
    margin: 0px;
    display:block;
  }

  #sidebar p { text-align:center; }
  #nav { top:0px; left:9px; }

  #content {
    width: 100%;
    float:left;
    position:inherit;
    margin:0px;
  }
}
